# secrets
environment
.env*
gcp-credentials.json
# Fabric files that are fetched by jobs
workspace/op/fabfile.py
workspace/fdaaa/fabfile.py
writeable_dir/
# Files written by jobs
*techsupport_ooo.json
logs
# startup check file, used as a dokku healthcheck
.bot_startup_check

# System files
*.py[co]
*.egg*
build
*.db
*.log
.project
.pydevproject
.settings
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo
.DS_Store
._*
Thumbs.db
Desktop.ini
Icon?
.coverage
htmlcov
.idea/
.cache/
venv/
.venv/
tmp
