fabric3
flask
gunicorn
requests
slackbot
structlog

# development
coverage
flake8
isort
pip-tools
pytest
pytest-cov
pytest-env
pytest-freezegun

# for op commands
django-dotenv

# for os commands
opensafely-cohort-extractor
