# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in

environs
fab-classic
flask
gunicorn
requests
slack_bolt
structlog

# for op commands
django-dotenv

# for commands that read from Google Sheets
google-api-python-client
