[Unit]
Description=ebmbot slackbot for listening for Slack commands

[Service]
User=ebmbot
ExecStart=/var/www/ebmbot/bin/start_service.sh bot
SyslogIdentifier=app.ebmbot.bot
Restart=always
 # If the service restarts too quickly, we get 429s from the Slack API
RestartSec=60

[Install]
WantedBy=multi-user.target
